<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-12">

                <!-- About -->
                    <section>
                        <h2 class="major"><span>About ANTI-SCAM CENTER</span></h2>
                        <p>
                            The aim of this project is to create a non-profit website about anti-scam. The project template is from module CM3035 Advanced Web Development. The website's objective is to promote, advertise scams, and raise people’s awareness of scam prevention.
                            <br>© 2022 shenhao SIMGE-UOL-FYP

                        </p>
                        
                        
                        <ul class="contact">
                            <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                            <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                            <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                            
                        </ul>
                    </section>
                    
            </div>
            
        </div>

    
    </div>
</footer>